<!DOCTYPE html>
<html>
<head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link rel="stylesheet" href="/css/bootstrap.min.css?ver=1">
        <link rel="stylesheet" href="/css/swiper.min.css?ver=1">
        <link rel="stylesheet" href="/css/font.css?ver=1">
        <link rel="stylesheet" href="/css/common.css?ver=1">
        <title>서울미디어랩 구독하기</title>
        <style>
            .wrap {
            width: 100%;
            max-width: 460px;
            overflow: hidden;
            background-color: transparent;
            padding: 20px;
            margin: 0 auto;
        }
        </style>
</head>

<body>
    <div class="wrap">
        <div  id="success">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="top"><img src="/images/top.png" alt="뉴스레터 구독하기"></div>
    
                <div class="modal-body">
                    여러분, <br>
                    서울미디어랩에서 급하게 떡을 만들었습니다.<br>
                    어서 '헐레벌떡' 메일함을 확인하여<br>
                    <span>구독확인 버튼</span>   을 눌러주세요!
                </div>
                <div class="modal-footer">
                <button type="button" class="btn close" data-bs-dismiss="modal"><a href="http://ndvirtual7.cafe24.com/" target="_blank">닫기</a></button>
                </div>
            </div>
            </div>

    </div>
   
    <script src="/js/jquery-1.12.4.min.js?ver=1"></script>
    <script src="/js/popper.min.js?ver=1"></script>
    <script src="/js/bootstrap.min.js?ver=1"></script>
    <script src="/js/index.js"></script>

</body>
</html>


