<!DOCTYPE html>
<html>
<head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link rel="stylesheet" href="/css/bootstrap.min.css?ver=1">
        <link rel="stylesheet" href="/css/swiper.min.css?ver=1">
        <link rel="stylesheet" href="/css/font.css?ver=1">
        <link rel="stylesheet" href="/css/common.css?ver=1">
        <title>포스텍 기업시민연구소 로그인</title>
       
</head>
<style>
    section{padding-bottom: 0;width: 100%;max-width: 900px;margin: 0 auto;}
    h1.logo{
        padding: 50px 0 10px 0;
    }
    .contents{padding-bottom: 0;}
   .contents form, .contents form label{display: block;margin: 0;}
    .form_login{
        border: 3px solid #2b2b2b;
        background-color: #fff;
        width: 100%;
        max-width: 799px;
        margin: 0 auto;
    }

    .form_login li:first-child{
        border-bottom: 3px solid #2b2b2b;
    }
   .contents form input{border: none; text-indent: 10px;width: 70%;margin-left: 20px;font-size: 20px;}
   .contents form label span{
       font-size: 21px;
       text-align: center;
       background-color: #edf4f7;
       display: inline-block;
       width: 100%;
       max-width: 180px;
       border-right: 3px solid #2b2b2b;
       padding: 19px 0;
   }
   .contents input[type="submit"]{
    display: block;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 240px;
    height: 70px;
    margin: 30px auto;
    margin-bottom: 60px;
    background: url(/images/login.png) no-repeat;
}

</style>
<body>

    <section>
       <h1 class="text-center logo">
           <img src="/images/logo.png" alt="기업시민연구소">
       </h1>
        <div class="contents">
           <form action="/login" method="post">
               <h1>
                   <img src="/images/visual.png" alt="기업시민연구소" class="img-fluid">
               </h1>
               <ul class="form_login">
                    <li>
                        <label for="IDs"><span>ID</span><input type="text" name="id" id="IDs"></label>
                    </li>  
                    <li>
                        <label for="PWs"><span>PW</span>  <input type="password" name="password" id="PWs" ></label>
                    </li> 
               </ul>
              
           
               <input type="submit" id="su" value="">
           </form>

        </div>
        <footer>
            <p>
              서울 강남구 봉은사로 514 포스코타워 삼성(06163)<br>
             <span>
               Email   ccri-postech@postech.ac.kr  |  Tel  02-6951-6244~5
              </span> 
            </p>              
        </footer>
    </section>
    

 
</body>
</html>